<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= locals.title ? title : "Hospital Panel" %></title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../css/dashboard.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Hospital Panel</h3>
                <strong>HP</strong>
            </div>

            <ul class="list-unstyled components">
                <li <% if (page_name === 'hospital-dashboard') { %>class="active "<% } %>>
                    <a href="dashboard">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li <% if (page_name === 'add-slot') { %>class="active <% } %>">
                    <a href="add-slot">
                        <i class="fas fa-prescription-bottle-alt"></i>
                        Add Slot
                    </a>
                </li>
                <li <% if (page_name === 'total-slots') { %>class="active <% } %>">
                    <a href="total-slots?id=<%= req.hospital.hId %>">
                        <i class="fas fa-syringe"></i>
                        Total Slots
                    </a>
                </li>
                <li <% if (page_name === 'telegram') { %>class="active <% } %>">
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Telegram
                    </a>
                </li <% if (page_name === 'data') { %>class="active <% } %>">
                <li>
                    <a href="#">
                        <i class="fas fa-database"></i>
                        Data
                    </a>
                </li>
                <li>
                    <hr>
                    <a href="../">
                        <i class="fas fa-home"></i>
                        Homepage
                    </a>
                    <a href="/hospital-logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid d-flex justify-content-start">

                    <button type="button" id="sidebarCollapse" class="btn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="ml-2">
                        <strong>Vaccine Slot Booking</strong>
                    </div>
                    <div class="ml-auto hide-mobile"><i class="fas fa-hospital-symbol"></i>
                        <strong> <%= req.hospital.name %> </strong>
                    </div>
                </div>
            </nav>